*{
    margin: 0px;
    padding: 0px;
}


@font-face {
    font-family: Sunshine;
    src: url(sunshineformulaDEMO.otf);
}

@font-face {
    font-family: Sans;
    src: url(MADEOkineSansPERSONALUSE-Regular.otf);
}


body {
    background-color: rgb(175,85,81);
    font-family: Sans;
    color: rgb(255, 255, 255);
    padding: 20px 10px 20px 10px;

}

h1 {
    font-family: Sunshine;
    font-size: 45pt;
    color: rgbrgb(175,85,81);
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

h2{
    margin-top: 30px;
    margin-bottom: 10px;
}
p{
    padding-bottom: 5px;

}
ul{
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Links */
a:link {
    color: rgb(202, 31, 45)
}
a:visited {

}
a:hover {

}

.container {
    display: grid;
    grid-template-columns: 35% 65%;
}

.countrycontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.sidebar {
    padding:  20px;
    background-color: rgb(255, 255, 255);
    color: rgb(175,85,81);
    
}
.maincontent {
    padding: 20px;
    border: black 1px solid;
    border-radius: 20px;
    overflow: hidden;   
}

.card{
    margin: 10px;
    border: 1px rgb(255, 169, 164);
    border-radius: 10px;
    background-color: rgb(255, 169, 164);
    color:rgb(255, 255, 255) ;
    padding: 5px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.header {
    text-align: center;
}