*{
    margin: 0px;
    padding: 0px;
}


@font-face {
    font-family: Sunshine;
    src: url(sunshineformulaDEMO.otf);
}

@font-face {
    font-family: Sans;
    src: url(MADEOkineSansPERSONALUSE-Regular.otf);
}


body {
    background-color: rgb(175,85,81);
    font-family: Sans;
    color: rgb(255, 255, 255);
    padding: 20px 10px 20px 10px;

}

h1 {
    font-family: Sunshine;
    font-size: 45pt;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
}

h2{
    margin-top: 30px;
    margin-bottom: 10px;

}
p{
    padding-bottom: 5px;

}
ul{
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Links */
a:link {
    color: rgb(202, 31, 45)
}
a:visited {

}
a:hover {

}

.container {
    display: grid;
    grid-template-columns: 20% 75%;;
}

.sidebar {
    padding:  20px;
    margin: 30px;
}
.maincontent {
    padding: 0px 0px;
}