*{
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.sidebar {
    background-color: rgb(80, 203, 237);
    padding:  20px;
}
.maincontent {
    background-color: brown;
    padding: 10px 20px;
}